section#contact {
    border-top: 2px solid #ffd700;
    margin: 30px;
    text-align: center;
    position: relative;
    padding: 100px 0;
}

.cent {
    text-align: center;
    color: #ffd700;
    background-color: #0000;
    position: absolute;
    top: -28px;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    display: inline-block;
    padding: 0 30px;
}

.boxs {
    background-color: #808080;
    display: inline-block;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.imagess {
    height: 30px;
    fill: #fff;
    margin-right: 10px;
}

.back {
    border: 2px solid #fac86b;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
