* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #34353a;
font-family: 'Roboto', sans-serif;
}

.headeer {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.header-nav nav {
  flex-grow: 1;
  text-align: center;
}

.header-nav a {
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
}

.header-nav a:hover {
  color: white;
  
}

.header-social a{
  display: inline-block;
}

.header-social {
  height: 40px;
  fill: rgba(255, 255, 255, .6);
  display: inline-block;
  margin: 0 10px;
}

#intro {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #fac86b;
  font-size: 1rem;
  justify-content: space-between;
  line-height: 2.6rem;
  text-align: center;
}

#intro a {
  border: 2px solid #fac86b;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

#intro img {
  color: gold;
}

#intro img {
  max-width: 300px;
  border-radius: 100%;
}