body{
  margin: 0;
  padding: 0;
}

.navbar {
   width: 100%;
   height: 100px;
   background: #213252;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
  }

  .navToggle {
     width: 100px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
  }

  .navToggle svg {
    font-size: 50px;
  }

  .navToggle button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  #open {
    height: 100vh;
  }

  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }

  @media only screen and (max-width: 900px) {
     .navbar a {
      width: 70px;
     }
  }
  